/* Reset CSS */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Opšti stilovi */
body {
    background-color: #F5F5F5; /* Svetlosiva pozadina */
    font-family: 'Roboto', sans-serif; /* Retro font */
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 20px;
}

.yuchat-title {
    font-family: 'Pacifico', cursive; /* Veliki, retro font */
    font-size: 72px;
    color: #8B0000; /* Tamno crvena boja */
    margin-bottom: 20px;
}

.slogan {
    font-size: 24px;
    color: #333; /* Tamno siva boja */
    margin-bottom: 40px;
}
